/* pri - #FDFFF1 /#282828
sec - #030706 /#030706
ter - #ECE1CB / ...
text- black / white */

#FDFFF1 { /*L*/
    background-color: #FDFFF1;
}
#282828 { /*D*/
background-color: #282828;
}
/*Secondary */
#030706 {
    background-color: #030706;
}
/*Tertiary*/
#ECE1CB {
    background-color: #ECE1CB;
}
/*Text */

